In [3]:
### Import needed libraries
import pandas as pd #Dataframes
import numpy as np #Numerics
import json #JSON
import ast #Eval datatype
import gzip ##
from textblob import TextBlob## NPL
import re
import unicodedata

In [4]:
## Read datasets from ETL_MLops_Inicial and ETL_Sentiment
df_sg=pd.read_csv("Dataset/Cleaned_Dataset/steam_games.csv")
df_ui=pd.read_csv("Dataset/Cleaned_Dataset/user_items.csv")
df_ur=pd.read_csv("Dataset/Cleaned_Dataset/user_reviews.csv")
df_sent=pd.read_csv("Dataset/Cleaned_Dataset/user_reviews_sent.csv")

## Function 1 ##

def PlayTimeGenre( genero : str ): Debe devolver año con mas horas jugadas para dicho género.
Ejemplo de retorno: {"Año de lanzamiento con más horas jugadas para Género X" : 2013}

#### Import datasets which

In [5]:
df_sg.info()## Dataset information Steam Gamges

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85628 entries, 0 to 85627
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher     59439 non-null  object
 1   genres        85490 non-null  object
 2   app_name      85626 non-null  object
 3   title         74981 non-null  object
 4   url           85628 non-null  object
 5   release_date  85628 non-null  object
 6   tags          85490 non-null  object
 7   reviews_url   85628 non-null  object
 8   specs         83983 non-null  object
 9   price         81935 non-null  object
 10  early_access  85628 non-null  bool
 11  id            85628 non-null  int64
 12  developer     71572 non-null  object
 13  year          74300 non-null  float64
dtypes: bool(1), float64(1), int64(1), object(11)
memory usage: 8.6+ MB

In [6]:
df_sg

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer,year
0,Kotoshiro,Action,Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",http://steamcommunity.com/app/761140/reviews/?...,['Single-player'],4.99,False,761140,Kotoshiro,2018.0
1,Kotoshiro,Casual,Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",http://steamcommunity.com/app/761140/reviews/?...,['Single-player'],4.99,False,761140,Kotoshiro,2018.0
2,Kotoshiro,Indie,Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",http://steamcommunity.com/app/761140/reviews/?...,['Single-player'],4.99,False,761140,Kotoshiro,2018.0
3,Kotoshiro,Simulation,Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",http://steamcommunity.com/app/761140/reviews/?...,['Single-player'],4.99,False,761140,Kotoshiro,2018.0
4,Kotoshiro,Strategy,Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",http://steamcommunity.com/app/761140/reviews/?...,['Single-player'],4.99,False,761140,Kotoshiro,2018.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85623,NaN,Adventure,Maze Run VR,NaN,http://store.steampowered.com/app/681550/Maze_...,SinFecha,"['Early Access', 'Adventure', 'Indie', 'Action...",http://steamcommunity.com/app/681550/reviews/?...,"['Single-player', 'Stats', 'Steam Leaderboards...",4.99,True,681550,NaN,NaN
85624,NaN,Indie,Maze Run VR,NaN,http://store.steampowered.com/app/681550/Maze_...,SinFecha,"['Early Access', 'Adventure', 'Indie', 'Action...",http://steamcommunity.com/app/681550/reviews/?...,"['Single-player', 'Stats', 'Steam Leaderboards...",4.99,True,681550,NaN,NaN
85625,NaN,Action,Maze Run VR,NaN,http://store.steampowered.com/app/681550/Maze_...,SinFecha,"['Early Access', 'Adventure', 'Indie', 'Action...",http://steamcommunity.com/app/681550/reviews/?...,"['Single-player', 'Stats', 'Steam Leaderboards...",4.99,True,681550,NaN,NaN
85626,NaN,Simulation,Maze Run VR,NaN,http://store.steampowered.com/app/681550/Maze_...,SinFecha,"['Early Access', 'Adventure', 'Indie', 'Action...",http://steamcommunity.com/app/681550/reviews/?...,"['Single-player', 'Stats', 'Steam Leaderboards...",4.99,True,681550,NaN,NaN
85627,NaN,VR,Maze Run VR,NaN,http://store.steampowered.com/app/681550/Maze_...,SinFecha,"['Early Access', 'Adventure', 'Indie', 'Action...",http://steamcommunity.com/app/681550/reviews/?...,"['Single-player', 'Stats', 'Steam Leaderboards...",4.99,True,681550,NaN,NaN

In [7]:
df_sg_f1=df_sg[["genres","id","year"]]## Extract only columns which will be used for the function analysis
df_sg_f1.dropna(subset=["genres","year"],inplace=True)## Drop columns which have NaN values in columns genres and year cause those will be used for the function analysis

C:\Users\angeo\AppData\Local\Temp\ipykernel_13920\836566610.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sg_f1.dropna(subset=["genres","year"],inplace=True)## Drop columns which have NaN values in columns genres and year cause those will be used for the function analysis

In [8]:
df_sg_f1.info()## dataset info Only Used Columns

<class 'pandas.core.frame.DataFrame'>
Index: 74163 entries, 0 to 85621
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   genres  74163 non-null  object
 1   id      74163 non-null  int64
 2   year    74163 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 2.3+ MB

In [9]:
df_ui## dataset user items

,user_id,items_count,steam_id,user_url,items,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '10', 'item_name': 'Counter-Strike...",10.0,Counter-Strike,6.0,0.0
1,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '20', 'item_name': 'Team Fortress ...",20.0,Team Fortress Classic,0.0,0.0
2,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '30', 'item_name': 'Day of Defeat'...",30.0,Day of Defeat,7.0,0.0
3,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '40', 'item_name': 'Deathmatch Cla...",40.0,Deathmatch Classic,0.0,0.0
4,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '50', 'item_name': 'Half-Life: Opp...",50.0,Half-Life: Opposing Force,0.0,0.0
...,...,...,...,...,...,...,...,...,...
5170010,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '373330', 'item_name': 'All Is Dus...",373330.0,All Is Dust,0.0,0.0
5170011,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '388490', 'item_name': 'One Way To...",388490.0,One Way To Die: Steam Edition,3.0,3.0
5170012,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '521570', 'item_name': 'You Have 1...",521570.0,You Have 10 Seconds 2,4.0,4.0
5170013,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '519140', 'item_name': 'Minds Eyes...",519140.0,Minds Eyes,3.0,3.0
5170014,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,NaN,NaN,NaN,NaN,NaN

In [10]:
df_ui_f1=df_ui[["item_id","playtime_forever"]]## Extract only columns which will be used for the function analysis
df_ui_f1.dropna(subset=["item_id"],inplace=True)## Drop columns which have NaN values in columns item_id cause that column will be used for joining datasets

C:\Users\angeo\AppData\Local\Temp\ipykernel_13920\2162627766.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ui_f1.dropna(subset=["item_id"],inplace=True)## Drop columns which have NaN values in columns item_id cause that column will be used for joining datasets

In [11]:
df_ui_f1.info()## dataset from user_items with only columns those will be used

<class 'pandas.core.frame.DataFrame'>
Index: 5153209 entries, 0 to 5170013
Data columns (total 2 columns):
 #   Column            Dtype
---  ------            -----
 0   item_id           float64
 1   playtime_forever  float64
dtypes: float64(2)
memory usage: 117.9 MB

In [12]:
df_sg_f1.head()## dataset from steam_games with only columns those will be used

       genres      id    year
0      Action  761140  2018.0
1      Casual  761140  2018.0
2       Indie  761140  2018.0
3  Simulation  761140  2018.0
4    Strategy  761140  2018.0

In [13]:
## Change dataype columns to integer 
df_sg_f1["id"]=df_sg_f1["id"].astype(int)
df_ui_f1["item_id"]=df_ui_f1["item_id"].astype(int)

C:\Users\angeo\AppData\Local\Temp\ipykernel_13920\2594851345.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sg_f1["id"]=df_sg_f1["id"].astype(int)
C:\Users\angeo\AppData\Local\Temp\ipykernel_13920\2594851345.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ui_f1["item_id"]=df_ui_f1["item_id"].astype(int)

In [14]:
## Joining datasets with id and item_id in common
df_join = pd.merge(df_ui_f1, df_sg_f1, left_on='item_id', right_on='id', how='inner')

In [15]:
df_f1=df_join.groupby(['genres', 'year'])['playtime_forever'].sum().reset_index()##group according to what the function asks for

In [16]:
idx = df_f1.groupby('genres')['playtime_forever'].idxmax()## get index where playtime is max for each genre
idx

genres
1980s                  0
1990's                 1
2D                     3
3D Platformer          4
Action                31
                    ...
Walking Simulator    563
Web Publishing       566
World War I          572
Zombies              573
e-sports             574
Name: playtime_forever, Length: 132, dtype: int64

In [17]:
df_max_year_per_genre = df_f1.loc[idx]##Filter index in dataframe
df_max_year_per_genre

                genres    year  playtime_forever
0                1980s  2015.0      2.405700e+04
1               1990's  2011.0      1.735480e+05
3                   2D  2012.0      1.685990e+05
4        3D Platformer  2011.0      1.735480e+05
31              Action  2012.0      1.099231e+09
..                 ...     ...               ...
563  Walking Simulator  2015.0      2.000000e+00
566     Web Publishing  2012.0      1.947406e+06
572        World War I  2016.0      0.000000e+00
573            Zombies  2015.0      2.730000e+03
574           e-sports  2014.0      4.519330e+05

[132 rows x 3 columns]

In [18]:
## Extract only columns which will be used in Endpoint N° 01
df_function_PlayTimeGenre=df_max_year_per_genre[['genres','year']].reset_index(drop=True)
df_function_PlayTimeGenre["genres_lo"]=df_function_PlayTimeGenre["genres"].str.lower()

In [19]:
df_function_PlayTimeGenre.to_parquet("Dataset/Function_Dataset/F1.parquet")##Export dataset for endpoint N° 01

In [20]:
def PlayTimeGenre(genero : str):## API function 1
    '''Se ingresa el mes y la funcion retorna la cantidad de peliculas que se estrenaron ese mes historicamente'''
    if isinstance(genero,str):## parameter condition string
        genero=genero.lower()## parameter string to lower
        genero=unicodedata.normalize ('NFKD', genero).encode ('ascii', 'ignore').decode ('utf-8', 'ignore')## Filter accent mark
        
        jum = df_function_PlayTimeGenre[df_function_PlayTimeGenre["genres_lo"] == genero] ## filter dataset with the parameter

        if jum.empty==True: ## condition if dataset is empty
            respuesta="No Data Avaliable"
        else:
            respuesta = jum.year.iloc[0]
        genero=jum.genres.iloc[0]
        respuesta=int(respuesta)
        return {f'Año de lanzamiento con más horas jugadas para Género {genero}': respuesta}

In [21]:
PlayTimeGenre("ACTION")## Testing Genre Action

{'Año de lanzamiento con más horas jugadas para Género Action': 2012}

##  Function 2 ##

def UserForGenre( genero : str ): Debe devolver el usuario que acumula más horas jugadas para el género dado y una lista de la acumulación de horas jugadas por año.

In [22]:
df_ui## user_items dataset

,user_id,items_count,steam_id,user_url,items,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '10', 'item_name': 'Counter-Strike...",10.0,Counter-Strike,6.0,0.0
1,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '20', 'item_name': 'Team Fortress ...",20.0,Team Fortress Classic,0.0,0.0
2,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '30', 'item_name': 'Day of Defeat'...",30.0,Day of Defeat,7.0,0.0
3,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '40', 'item_name': 'Deathmatch Cla...",40.0,Deathmatch Classic,0.0,0.0
4,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '50', 'item_name': 'Half-Life: Opp...",50.0,Half-Life: Opposing Force,0.0,0.0
...,...,...,...,...,...,...,...,...,...
5170010,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '373330', 'item_name': 'All Is Dus...",373330.0,All Is Dust,0.0,0.0
5170011,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '388490', 'item_name': 'One Way To...",388490.0,One Way To Die: Steam Edition,3.0,3.0
5170012,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '521570', 'item_name': 'You Have 1...",521570.0,You Have 10 Seconds 2,4.0,4.0
5170013,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '519140', 'item_name': 'Minds Eyes...",519140.0,Minds Eyes,3.0,3.0
5170014,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,NaN,NaN,NaN,NaN,NaN

In [23]:
df_uif1=df_ui[["user_id","item_id","playtime_forever"]]## Extract only columns which will be used

In [24]:
df_sg## steam games dataset

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer,year
0,Kotoshiro,Action,Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",http://steamcommunity.com/app/761140/reviews/?...,['Single-player'],4.99,False,761140,Kotoshiro,2018.0
1,Kotoshiro,Casual,Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",http://steamcommunity.com/app/761140/reviews/?...,['Single-player'],4.99,False,761140,Kotoshiro,2018.0
2,Kotoshiro,Indie,Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",http://steamcommunity.com/app/761140/reviews/?...,['Single-player'],4.99,False,761140,Kotoshiro,2018.0
3,Kotoshiro,Simulation,Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",http://steamcommunity.com/app/761140/reviews/?...,['Single-player'],4.99,False,761140,Kotoshiro,2018.0
4,Kotoshiro,Strategy,Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",http://steamcommunity.com/app/761140/reviews/?...,['Single-player'],4.99,False,761140,Kotoshiro,2018.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85623,NaN,Adventure,Maze Run VR,NaN,http://store.steampowered.com/app/681550/Maze_...,SinFecha,"['Early Access', 'Adventure', 'Indie', 'Action...",http://steamcommunity.com/app/681550/reviews/?...,"['Single-player', 'Stats', 'Steam Leaderboards...",4.99,True,681550,NaN,NaN
85624,NaN,Indie,Maze Run VR,NaN,http://store.steampowered.com/app/681550/Maze_...,SinFecha,"['Early Access', 'Adventure', 'Indie', 'Action...",http://steamcommunity.com/app/681550/reviews/?...,"['Single-player', 'Stats', 'Steam Leaderboards...",4.99,True,681550,NaN,NaN
85625,NaN,Action,Maze Run VR,NaN,http://store.steampowered.com/app/681550/Maze_...,SinFecha,"['Early Access', 'Adventure', 'Indie', 'Action...",http://steamcommunity.com/app/681550/reviews/?...,"['Single-player', 'Stats', 'Steam Leaderboards...",4.99,True,681550,NaN,NaN
85626,NaN,Simulation,Maze Run VR,NaN,http://store.steampowered.com/app/681550/Maze_...,SinFecha,"['Early Access', 'Adventure', 'Indie', 'Action...",http://steamcommunity.com/app/681550/reviews/?...,"['Single-player', 'Stats', 'Steam Leaderboards...",4.99,True,681550,NaN,NaN
85627,NaN,VR,Maze Run VR,NaN,http://store.steampowered.com/app/681550/Maze_...,SinFecha,"['Early Access', 'Adventure', 'Indie', 'Action...",http://steamcommunity.com/app/681550/reviews/?...,"['Single-player', 'Stats', 'Steam Leaderboards...",4.99,True,681550,NaN,NaN

In [25]:
df_sgf1=df_sg[["genres","id","year"]]## Extract only columns which will be used

In [26]:
df_sgf1.head(5)## show

       genres      id    year
0      Action  761140  2018.0
1      Casual  761140  2018.0
2       Indie  761140  2018.0
3  Simulation  761140  2018.0
4    Strategy  761140  2018.0

In [27]:
df_uif1.head(5)## show

             user_id  item_id  playtime_forever
0  76561197970982479     10.0               6.0
1  76561197970982479     20.0               0.0
2  76561197970982479     30.0               7.0
3  76561197970982479     40.0               0.0
4  76561197970982479     50.0               0.0

In [28]:
## Joining datasets with id and item_id in common
df_join2 = pd.merge(df_uif1, df_sgf1, left_on='item_id', right_on='id', how='inner')##

In [29]:
df_join2## show joined dataset

,user_id,item_id,playtime_forever,genres,id,year
0,76561197970982479,10.0,6.0,Action,10,2000.0
1,js41637,10.0,0.0,Action,10,2000.0
2,Riot-Punch,10.0,0.0,Action,10,2000.0
3,doctr,10.0,93.0,Action,10,2000.0
4,corrupted_soul,10.0,108.0,Action,10,2000.0
...,...,...,...,...,...,...
11483270,danebuchanan,485270.0,7.0,Casual,485270,NaN
11483271,danebuchanan,485270.0,7.0,Simulation,485270,NaN
11483272,danebuchanan,485270.0,7.0,Psychological Horror,485270,NaN
11483273,danebuchanan,485270.0,7.0,Horror,485270,NaN
11483274,danebuchanan,485270.0,7.0,VR,485270,NaN

In [30]:
df_join2["playtime_forever"][df_join2["playtime_forever"]==0]=np.nan ## replace 0 with NaN
df_join2.dropna(subset="year",inplace=True)
df_join2.dropna(subset="playtime_forever",inplace=True)## Drop rows with NaN values in columns year and playtime_forever
df_join2.reset_index(inplace=True)

C:\Users\angeo\AppData\Local\Temp\ipykernel_13920\1273235917.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_join2["playtime_forever"][df_join2["playtime_forever"]==0]=np.nan ## replace 0 with NaN

In [31]:
df_function_UserForGenre=df_join2.groupby(["user_id",'genres', 'year'])['playtime_forever'].sum().reset_index()##group according to what the function asks for

In [32]:
df_function_UserForGenre["genres_lo"]=df_function_UserForGenre["genres"].str.lower()
df_function_UserForGenre["playtime_forever"]=df_function_UserForGenre["playtime_forever"]/60## Convert minutes to hours by t/60
df_function_UserForGenre

            user_id    genres    year  playtime_forever genres_lo
0           --000--    Action  2009.0         88.816667    action
1           --000--    Action  2010.0          0.366667    action
2           --000--    Action  2011.0        108.700000    action
3           --000--    Action  2012.0       1822.433333    action
4           --000--    Action  2013.0          6.050000    action
...             ...       ...     ...               ...       ...
2894691  zzzmidmiss    Sports  2014.0          0.266667    sports
2894692  zzzmidmiss  Strategy  2010.0          0.166667  strategy
2894693  zzzmidmiss  Strategy  2011.0          1.150000  strategy
2894694  zzzmidmiss  Strategy  2012.0         15.383333  strategy
2894695  zzzmidmiss  e-sports  2014.0          0.633333  e-sports

[2894696 rows x 5 columns]

In [33]:
df_function_UserForGenre.to_parquet("Dataset/Function_Dataset/F2.parquet")##Export dataset for endpoint N° 02

In [34]:
def UserForGenre(genero : str):## API function 2
    
    if (isinstance(genero,str)) :## parameter condition string
        genero=genero.lower()## parameter string to lower
        genero=unicodedata.normalize ('NFKD', genero).encode ('ascii', 'ignore').decode ('utf-8', 'ignore')## Filter accent mark
        
        jum = df_function_UserForGenre[df_function_UserForGenre["genres_lo"] == genero] ## filter dataset with the parameter
        
        if jum.empty==True: ## condition if dataset is empty
            usuario="No Data Available"
            respuesta="No Data Avaliable"
            genero1=genero.capitalize()
            
        else:
            genero1=jum.genres.iloc[0]
            dfu=jum.groupby(["user_id","genres","genres_lo"])["playtime_forever"].sum().reset_index().sort_values(by=["playtime_forever"],ascending=False).reset_index()## filter by user and genre
            usuario=dfu["user_id"].iloc[0] ## get user with the most time played this genre
            dfu2=jum.groupby(["user_id","genres","genres_lo","year"])["playtime_forever"].sum().reset_index().sort_values(by=["year"],ascending=False).reset_index()
            dfu3=dfu2[["year","playtime_forever"]][(dfu2["user_id"]==usuario) & (dfu2["genres_lo"]==genero)].reset_index()
            num=dfu3.shape[0]
            respuesta=[]
            for i in range(num-1):
                di={"Año": int(round(dfu3["year"].iloc[i])), "Horas": int(round(dfu3["playtime_forever"].iloc[i]))}
                respuesta.append(di)
                   
        return {f"Usuario con más horas jugadas para Género {genero1}" : usuario, "Horas jugadas":respuesta}

In [35]:
UserForGenre("Action")## Testing function2

{'Usuario con más horas jugadas para Género Action': 'Sp3ctre',
 'Horas jugadas': [{'Año': 2017, 'Horas': 722},
  {'Año': 2016, 'Horas': 493},
  {'Año': 2015, 'Horas': 5125},
  {'Año': 2014, 'Horas': 2178},
  {'Año': 2013, 'Horas': 2008},
  {'Año': 2012, 'Horas': 6305},
  {'Año': 2011, 'Horas': 2582},
  {'Año': 2010, 'Horas': 1301},
  {'Año': 2009, 'Horas': 1805},
  {'Año': 2008, 'Horas': 4},
  {'Año': 2007, 'Horas': 1880},
  {'Año': 2006, 'Horas': 15},
  {'Año': 2005, 'Horas': 356},
  {'Año': 2004, 'Horas': 2124},
  {'Año': 2003, 'Horas': 128},
  {'Año': 2002, 'Horas': 4},
  {'Año': 2001, 'Horas': 0},
  {'Año': 2000, 'Horas': 1177},
  {'Año': 1999, 'Horas': 1}]}

## Function 3 ##

def UsersRecommend( año : int ): Devuelve el top 3 de juegos MÁS recomendados por usuarios para el año dado. (reviews.recommend = True y comentarios positivos/neutrales)

In [36]:
df_sent## dataset usir reviews_sentiment analysis

,user_id,user_url,reviews,funny,posted,last_edited,item_id,helpful,recommend,review,year_posted,sentiment_analysis
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'funny': '', 'posted': 'Posted November 5, 20...",NaN,"Posted November 5, 2011.",NaN,1250.0,No ratings yet,True,Simple yet with great replayability In my opin...,2011.0,1
1,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'funny': '', 'posted': 'Posted July 15, 2011....",NaN,"Posted July 15, 2011.",NaN,22200.0,No ratings yet,True,Its unique and worth a playthrough,2011.0,2
2,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'funny': '', 'posted': 'Posted April 21, 2011...",NaN,"Posted April 21, 2011.",NaN,43110.0,No ratings yet,True,Great atmosphere The gunplay can be a bit chun...,2011.0,1
3,js41637,http://steamcommunity.com/id/js41637,"{'funny': '', 'posted': 'Posted June 24, 2014....",NaN,"Posted June 24, 2014.",NaN,251610.0,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...,2014.0,1
4,js41637,http://steamcommunity.com/id/js41637,"{'funny': '', 'posted': 'Posted September 8, 2...",NaN,"Posted September 8, 2013.",NaN,227300.0,0 of 1 people (0%) found this review helpful,True,For a simple its actually not all that simple ...,2013.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
59328,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"{'funny': '', 'posted': 'Posted July 10.', 'la...",NaN,Posted July 10.,NaN,70.0,No ratings yet,True,a must have classic from steam definitely wort...,NaN,2
59329,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"{'funny': '', 'posted': 'Posted July 8.', 'las...",NaN,Posted July 8.,NaN,362890.0,No ratings yet,True,this game is a perfect remake of the original ...,NaN,1
59330,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"{'funny': '1 person found this review funny', ...",1 person found this review funny,Posted July 3.,NaN,273110.0,1 of 2 people (50%) found this review helpful,True,had so much fun plaing this and collecting res...,NaN,1
59331,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"{'funny': '', 'posted': 'Posted July 20.', 'la...",NaN,Posted July 20.,NaN,730.0,No ratings yet,True,D,NaN,1
59332,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"{'funny': '', 'posted': 'Posted July 2.', 'las...",NaN,Posted July 2.,NaN,440.0,No ratings yet,True,so much fun D,NaN,2

In [37]:
df_urv1=df_sent.dropna(subset="year_posted")##Drop rows with NaN values in year_posted column

In [38]:
df_urv2=df_urv1[["item_id","recommend","year_posted","sentiment_analysis"]]## Extracts only columns which will be used

In [39]:
df_urv2## view dataset

        item_id recommend  year_posted  sentiment_analysis
0        1250.0      True       2011.0                   1
1       22200.0      True       2011.0                   2
2       43110.0      True       2011.0                   1
3      251610.0      True       2014.0                   1
4      227300.0      True       2013.0                   1
...         ...       ...          ...                 ...
59280     730.0      True       2015.0                   1
59283  253980.0      True       2015.0                   1
59293     730.0      True       2015.0                   0
59295     730.0      True       2015.0                   1
59304  369200.0      True       2015.0                   2

[49186 rows x 4 columns]

In [40]:
df_sg3=df_sg[["app_name","id"]]## Extract only columns wich will be used

In [41]:
df_sg3.drop_duplicates(inplace=True)
df_sg3.reset_index(inplace=True,drop=True)
df_sg3## Drop duplicate rows

C:\Users\angeo\AppData\Local\Temp\ipykernel_13920\368870687.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sg3.drop_duplicates(inplace=True)

                       app_name      id
0           Lost Summoner Kitty  761140
1                     Ironbound  643980
2       Real Pool 3D - Poolians  670290
3                       弹炸人2222  767400
4                 Log Challenge  773570
...                         ...     ...
32127            Colony On Mars  773640
32128  LOGistICAL: South Africa  733530
32129             Russian Roads  610660
32130       EXIT 2 - Directions  658870
32131               Maze Run VR  681550

[32132 rows x 2 columns]

In [42]:
## Joining datasets with id and item_id in common
df_function_Recommends = pd.merge(df_urv2, df_sg3, left_on='item_id', right_on='id', how='inner') ##

In [43]:
df_function_Recommends.to_parquet("Dataset/Function_Dataset/F3-4-5.parquet") ##Export dataset for endpoint N° 03 and N° 04

In [44]:
df_function_Recommends## view

,item_id,recommend,year_posted,sentiment_analysis,app_name,id
0,1250.0,True,2011.0,1,Killing Floor,1250
1,1250.0,True,2015.0,1,Killing Floor,1250
2,1250.0,True,2013.0,1,Killing Floor,1250
3,1250.0,True,2015.0,1,Killing Floor,1250
4,1250.0,True,2014.0,1,Killing Floor,1250
...,...,...,...,...,...,...
44734,367780.0,True,2015.0,1,Aero's Quest,367780
44735,367780.0,True,2015.0,1,Aero's Quest,367780
44736,305920.0,False,2015.0,0,Another Perspective,305920
44737,306040.0,True,2015.0,2,The Howler,306040
44738,307130.0,True,2015.0,1,Asteria,307130

In [46]:
def UsersRecommend( anio : int ):## API function 3
    
    if isinstance(anio,int):## parameter condition integer
        ## filter possitive recommends and positive sentiment analysis and year given       
        jum = df_function_Recommends[(df_function_Recommends["year_posted"]==anio) & (df_function_Recommends["recommend"]==True) & (df_function_Recommends["sentiment_analysis"].isin([1,2]))] ## filter dataset with the parameter

        if jum.empty==True: ## condition if dataset is empty
            respuesta="No Data Avaliable"
        else:
            dfu4=jum.groupby(["app_name"])["id"].agg("count").reset_index() ## Count how many times each game has been voted positive
            dfu4.sort_values(by="id",ascending=False,inplace=True) ## Order by n° votes
            dfu4.reset_index(drop=True,inplace=True)
            respuesta=[]
            for i in range(3):
                di={f"Puesto {i+1}": dfu4["app_name"].iloc[i]} ## make a dictionary with top 3 games
                respuesta.append(di)
        
        return {f"Los juegos mas recomendados para el año {anio} son ": respuesta }

In [72]:
UsersRecommend( 2010 ) ## Testing function 3

{'Los juegos mas recomendados para el año 2010 son ': [{'Puesto 1': 'Team Fortress 2'},
  {'Puesto 2': 'Killing Floor'},
  {'Puesto 3': 'Alien Swarm'}]}

## Function 4 ##

def UsersNotRecommend( año : int ): Devuelve el top 3 de juegos MENOS recomendados por usuarios para el año dado. (reviews.recommend = False y comentarios negativos)

In [55]:
def UsersNotRecommend( anio : int ):## API function 4
    
    if isinstance(anio,int):## parameter condition integer
        ## filter negative recommends and negative sentiment analysis and year given       
        jum = df_function_Recommends[(df_function_Recommends["year_posted"]==anio) & (df_function_Recommends["recommend"]==False) & (df_function_Recommends["sentiment_analysis"]==0)] ## filter dataset with the parameter

        if jum.empty==True: ## condition if dataset is empty
            respuesta="No Data Avaliable"
        else:
            dfu4=jum.groupby(["app_name"])["id"].agg("count").reset_index()## Count how many times each game has been voted negative
            dfu4.sort_values(by="id",ascending=False,inplace=True)## Order by n° votes
            dfu4.reset_index(drop=True,inplace=True)
            respuesta=[]
            for i in range(3):
                di={f"Puesto {i+1}": dfu4["app_name"].iloc[i]}## make a dictionary with top 3 games
                respuesta.append(di)
        
        return {f"Los juegos menos recomendados para el año {anio} son ": respuesta }

In [80]:
UsersNotRecommend(2012)

{'Los juegos menos recomendados para el año 2012 son ': [{'Puesto 1': 'Red Faction®: Armageddon™'},
  {'Puesto 2': 'Team Fortress 2'},
  {'Puesto 3': "The Kings' Crusade"}]}

## Function 5 ##

def sentiment_analysis( año : int ): Según el año de lanzamiento, se devuelve una lista con la cantidad de registros de reseñas de usuarios que se encuentren categorizados con un análisis de sentimiento.

In [91]:
df_sg5=df_sg[["year","id"]]## Extract only columns which will be used from steam games dataset

In [92]:
df_sg5## view data

         year      id
0      2018.0  761140
1      2018.0  761140
2      2018.0  761140
3      2018.0  761140
4      2018.0  761140
...       ...     ...
85623     NaN  681550
85624     NaN  681550
85625     NaN  681550
85626     NaN  681550
85627     NaN  681550

[85628 rows x 2 columns]

In [93]:
## Joining datasets with id and item_id in common
df_function_Sentiment = pd.merge(df_function_Recommends, df_sg5, left_on='item_id', right_on='id', how='inner')

In [101]:
df_function_Sentiment

,item_id,recommend,year_posted,sentiment_analysis,app_name,id_x,year,id_y
0,1250.0,True,2011.0,1,Killing Floor,1250,2009.0,1250
1,1250.0,True,2015.0,1,Killing Floor,1250,2009.0,1250
2,1250.0,True,2013.0,1,Killing Floor,1250,2009.0,1250
3,1250.0,True,2015.0,1,Killing Floor,1250,2009.0,1250
4,1250.0,True,2014.0,1,Killing Floor,1250,2009.0,1250
...,...,...,...,...,...,...,...,...
162951,306040.0,True,2015.0,2,The Howler,306040,2016.0,306040
162952,306040.0,True,2015.0,2,The Howler,306040,2016.0,306040
162953,307130.0,True,2015.0,1,Asteria,307130,2014.0,307130
162954,307130.0,True,2015.0,1,Asteria,307130,2014.0,307130
162955,307130.0,True,2015.0,1,Asteria,307130,2014.0,307130

In [84]:
df_function_Sentiment.to_parquet("Dataset/Function_Dataset/F5.parquet")##Export dataset for endpoint N° 03 and N° 04

In [87]:
def Sentiment_Analysis( anio : int ):## API function 5
    
    if isinstance(anio,int):## parameter condition integer
                
        jum = df_function_Sentiment[(df_function_Sentiment["year"]==anio)] ## filter dataset with the parameter

        if jum.empty==True: ## condition if dataset is empty
            respuesta="No Data Available"
        else:
            positivo=jum[jum["sentiment_analysis"]==2].shape[0] ## Count positive comments
            negativo=jum[jum["sentiment_analysis"]==0].shape[0] ## Count negative comments
            neutral=jum[jum["sentiment_analysis"]==1].shape[0]  ## Count neutral comments        
            respuesta={"Positivo":positivo,"Neutral":neutral,"Negativo":negativo} 
        return {f"El analisis de sentimiento para el año de lanzamiento {anio} es ": respuesta }

In [90]:
Sentiment_Analysis( 2010 )## Testing function N° 5

{'El analisis de sentimiento para el año de lanzamiento 2010 es ': {'Positivo': 947,
  'Neutral': 1854,
  'Negativo': 255}}